<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.lhweb.furn.dao.OrderItemMapper">

    <resultMap id="BaseResultMap" type="asia.lhweb.furn.bean.OrderItem">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="count" column="count" jdbcType="INTEGER"/>
            <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,price,
        count,total_price,order_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from order_item
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from order_item
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="asia.lhweb.furn.bean.OrderItem" useGeneratedKeys="true">
        insert into order_item
        ( id,name,price
        ,count,total_price,order_id
        )
        values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{price,jdbcType=DECIMAL}
        ,#{count,jdbcType=INTEGER},#{totalPrice,jdbcType=DECIMAL},#{orderId,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="asia.lhweb.furn.bean.OrderItem" useGeneratedKeys="true">
        insert into order_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="price != null">price,</if>
                <if test="count != null">count,</if>
                <if test="totalPrice != null">total_price,</if>
                <if test="orderId != null">order_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="price != null">#{price,jdbcType=DECIMAL},</if>
                <if test="count != null">#{count,jdbcType=INTEGER},</if>
                <if test="totalPrice != null">#{totalPrice,jdbcType=DECIMAL},</if>
                <if test="orderId != null">#{orderId,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="asia.lhweb.furn.bean.OrderItem">
        update order_item
        <set>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="price != null">
                    price = #{price,jdbcType=DECIMAL},
                </if>
                <if test="count != null">
                    count = #{count,jdbcType=INTEGER},
                </if>
                <if test="totalPrice != null">
                    total_price = #{totalPrice,jdbcType=DECIMAL},
                </if>
                <if test="orderId != null">
                    order_id = #{orderId,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="asia.lhweb.furn.bean.OrderItem">
        update order_item
        set 
            name =  #{name,jdbcType=VARCHAR},
            price =  #{price,jdbcType=DECIMAL},
            count =  #{count,jdbcType=INTEGER},
            total_price =  #{totalPrice,jdbcType=DECIMAL},
            order_id =  #{orderId,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
